{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <title>ProxyPay</title>
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
        {% if debug %}
            <link rel="stylesheet" href="{% static 'semanticui/semantic.rtl.css' %}" type="text/css">
            <script src="{% static 'semanticui/semantic.js' %}"></script>
        {% else %}
            <link rel="stylesheet" href="{% static 'semanticui/semantic.rtl.css' %}" type="text/css">
            <script src="{% static 'semanticui/semantic.min.js' %}"></script>
        {% endif %}
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    </head>
    <body dir="rtl">
        <div class="ui basic segment">
            <div class="ui container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
