{% load semanticui %}

<form action='' name="{{form_name}}" method="post" class="ui form {{ form.errors | yesno:'error,' }}" novalidate>
    {% if form.non_field_errors %}
    <div class="ui error message">
        {% for non_field_error in form.non_field_errors %}
             <p>{{ non_field_error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    {% render_form form %}
    <button type="submit" class="ui button primary" name="submit">{{ submit_button_text }}</button>
</form>