{% extends 'base.html' %}
{% load semanticui %}
{% load i18n %}

{% block content %}
<form action='' name="login_form" method="post" class="ui form {{ form.errors | yesno:'error,' }}">
    {% if form.non_field_errors %}
    <div class="ui error message">
        {% for non_field_error in form.non_field_errors %}
             <p>{{ non_field_error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    {% render_form form %}
    <button type="submit" class="ui button primary" name="submit">{% trans 'Login' %}</button>
    <p><a href="{% url 'users:register' %}">{% trans 'Not a member yet? register here.' %}</a></p>

</form>
{% endblock %}
