{% extends 'base.html' %}
{% load semanticui %}
{% load i18n %}

{% block content %}
    <h1>{{ service.name }}</h1>
    {{ service.description_html | safe}}
    <form action='' name="request_detail" method="post" class="ui form {{ form.errors | yesno:'error,' }}" novalidate>
    {% if form.non_field_errors %}
    <div class="ui error message">
        {% for non_field_error in form.non_field_errors %}
             <p>{{ non_field_error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    {% render_field form.user %}
    {% render_field form.amount %}
    {% render_field form.currency%}
    {% render_field form.description %}
    {% render_field form.operator %}
    {% render_field form.status %}
    <div class="fields">
        <div class="three wide field">
            {% if is_pending %}
                <button type="submit" class="ui tiny button primary" name="accept_button">{% trans 'Accept' %}</button>
            {% elif is_processing %}
                <button type="submit" class="ui tiny button primary" name="reject_button">{% trans 'Reject' %}</button>
                <button type="submit" class="ui tiny button primary" name="finish_button">{% trans 'Done' %}</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
